<form method="post" action="./member.act.php?act=forgotpasswd">
<table width="600" border = "1" align="center" class="datatable">
<tr bgcolor="#CCCCCC">
	<th colspan="2" align="center">忘記密碼</th>
</tr>
<tr>
	<td width="150" align="center">登入帳號</td>
	<td>
		<input name="username" type="text" size="12" maxlength="12" class="input">
		<br/>
		<font color="gray">請填寫的帳號名稱</font>
	</td>
</tr>
<tr>
	<td align="center">電子信箱</td>
	<td>
		<input name="email" type="text" size="30" class="input">
		<br/>
		<font color="gray">請輸入註冊時所輸入的電子信箱</font>
	</td>
</tr>
<tr>
	<td colspan="2" align="center">
		<input type="submit" name="Submit" value="確認送出" class=button>
		<input type="reset" name="Submit" value="重新填寫" class=button>
	</td>
</tr>
</table>
</form>