
<form name="place" method="post" onSubmit=""  action="./group.act.php?act=add">
<table width="600" border = "1" align="center" class="datatable">
<tr bgcolor="#CCCCCC">
	<th colspan="2" align="center">
		新增族群資料
	</th>
</tr>
<tr>
	<td width="150" align="center">族群名稱</td>
	<td><input name="gname" type="text" size="50"  class="input"></td>
</tr>
<tr>
	<td colspan="2" align="center">
		<input type="submit" name="Submit" value="確定送出" class=button>
		<input type="reset" name="Submit" value="重新填寫" class=button>
	</td>
</tr>
</table>
</form>