<center>
	<b>族群資料管理</b>
</center>

<br/>

<table width="600" align="center" border="1" class="datatable">
	<tr bgcolor="#CCCCCC">
		<th width="500" align="center">族群名稱</th>
		<th width="100" align="center">功能選項</th>
	</tr>
	<{section name=key loop=$grouplist}>	
	<tr>		
		<td align="left"><{$grouplist[key].1}></td>
		<td align="center">
			<{$grouplist[key].2}>
			<{$grouplist[key].3}>
		</td>
	</tr>
	<{/section}>
	<tr bgcolor="#CCCCCC">
		<td colspan="4" align=right><a href="./index.php?act=group&amp;sel=add">新增族群資料</a></td>
	</tr>
</table>

<{include file="page_foot.html"}>