<table width="600" align="center" border="1" class="datatable">
	<tr bgcolor="#CCCCCC">
		<th colspan="2" align="center">
			取消報名活動資料
		</th>
	</tr>
	<tr>
		<td align="center" width="150">活動名稱</td>
		<td> <{ $cancel_data.name }> </td>
	</tr>
	<tr>
		<td align="center">會員帳號</td>
		<td> <{ $cancel_data.username }></td>
	</tr>
	<tr>
		<td align="center">繳費類型</td>
		<td> <{ $cancel_data.charge_type }> </td>
	</tr>	
	<tr>
		<td align="center">繳費狀態</td>
		<td> <{ $cancel_data.charge_status }> </td>
	</tr>
	<tr>
		<td align="center">報名時間</td>
		<td> <{ $cancel_data.join_time }></td>
	</tr>
	<tr>
		<td align="center">取消時間</td>
		<td> <{ $cancel_data.cancel_time }> </td>
	</tr>
	<tr>
		<td align="center">取消原因</td>
		<td> <{ $cancel_data.cancel_reason }> </td>
	</tr>	
</table>
