<table width="600" align="center" border="1" class="datatable">
<tr bgcolor="#CCCCCC">
	<th colspan="2" align="center">優惠卷詳細資料</th>
</tr>
<tr>
	<td align="center" width="150">優惠卷類型</td>
	<td> <{ $coupon.coupon_type }> </td>
</tr>
<tr>
	<td align="center">所有者</td>
	<td> <{ $coupon.username }> </td>
</tr>
<tr>
	<td align="center">給予者</td>
	<td> <{ $coupon.givename }> </td>
</tr>
<tr>
	<td align="center">給予原因</td>
	<td> <{ $coupon.reason }> </td>
</tr>
<tr>
	<td align="center">給予時間</td>
	<td> <{ $coupon.give_time }> </td>
</tr>
<tr>
	<td align="center">使用狀態</td>
	<td> <{ $coupon.status }> <{ $coupon.del_link }></td>
</tr>
<tr>
	<td align="center">使用時間</td>
	<td> <{ $coupon.use_time }> </td>
</tr>
<tr>
	<td align="center">使用於活動</td>
	<td> <{ $coupon.name }> </td>
</tr>
</table>