<table width="600" align="center" border="1" class="datatable">
<tr bgcolor="#CCCCCC">
	<th colspan="2" align="center">繳費詳細資料</th>
</tr>
<tr>
	<td align="center" width="150">繳費代碼</td>
	<td>
		<font color="red" ><b><{ $ibondata.ibon_no }></b></font></td>
</tr>
<!--
<tr>
	<td align="center">系統單號</td>
	<td><{ $ibondata.charge_ibon_id }></td>
</tr>
-->
<tr>
	<td align="center">使用者</td>
	<td><{ $ibondata.username }></td>
</tr>
<tr>
	<td align="center">活動名稱</td>
	<td><{ $ibondata.name }></td>
</tr>
<tr>
	<td align="center">繳費金額</td>
	<td><{ $ibondata.fees }> 元</td>
</tr>
<tr>
	<td align="center">處理時間</td>
	<td><{ $ibondata.process_time }></td>
</tr>
<tr>
	<td align="center">繳費期限</td>
	<td><{ $ibondata.ibon_deadline }></td>
</tr>
<tr>
	<td align="center">繳費狀態</td>
	<td><{ $ibondata.charge_status }></td>
</tr>
<tr>
	<td align="center">繳費時間</td>
	<td><{ $ibondata.pay_time }></td>
</tr>
<tr>
	<td align="center">重新產生繳費代碼</td>
	<td> <{ $ibondata.reGenerate }></td>
</tr>
<tr>
	<td align="center">ibon繳費情況即時查</td>
	<td>
		<a href="https://eservice.7-11.com.tw/E-Tracking/PaymentSearch.aspx" target="_blank">
			https://eservice.7-11.com.tw/ETracking/PaymentSearch.aspx
		</a>		
	</td>
</tr>
</table>