<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="7 Minute Speed Dating">
	<meta name="keywords" content="7 Minute Speed Dating，Speed Dating，Dating，七分鐘快速約會，約會，iF，iFriendxiFun">

	<title>&lt;iF&gt;iFriendxiFun http://www.iFriendxiFun.net/ </title>
	<link rel="stylesheet" href="lib/dynCalendar/dynCalendar.css" type="text/css">
	<link rel="stylesheet" href="style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="menuTab.css" />

	<script type="text/javascript">
		function clearLinkDot()
		{
			var i, a, main;
			for(i=0; (a = document.getElementsByTagName("a")[i]); i++)
			{
				if (a.getAttribute("onFocus")==null) {
					a.setAttribute("onFocus","this.blur();");
				} else {
					a.setAttribute("onFocus",a.getAttribute("onFocus")+";this.blur();");
				}
				a.setAttribute("hideFocus","hidefocus");
			}
		}
	</script>
</head >

<body onload="clearLinkDot();">

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6253208-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2057862-6");
pageTracker._trackPageview();
} catch(err) {}</script>

<div id="content" style="margin-top: -8px; *margin-top: -15px;">
	<table border="0" width="980" id="table1" cellspacing="0" cellpadding="0" style="height: 100%;">
		<tr>
			<td style="height: 234px; background:url('images/banner.jpg');" valign="top">
			<table border="0" width="100%" id="table7" cellspacing="0" cellpadding="0" style="height: 100%">
				<tr>
					<td>&nbsp;</td>
					<td width="210" valign="top">
						<{ include file="login.html" }>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td style="height: 40px">
			<table border="0" width="100%" id="table2" cellspacing="0" cellpadding="0" style="height: 100%">
				<tr>
					<td width="110" bgcolor="#E6721D" align="center">
						<span class="link_w">如何使用iF網站</span><br/>
						<a href="upload/iF_manual.pdf" target="_blank">PDF</a>&nbsp;
						<a href="upload/iF_manual.ppt" target="_blank">PPT</a>
					</td>
					<td bgcolor="#544B42" align="center">
						<div style="width: 700px; line-height: 40px;">
							<marquee id="slidemsg" scrolldelay='150' direction="left"  onmouseover="slidemsg.stop()" onmouseout="slidemsg.start()">
								<span class="link_w"><{ $layout.scroll_text }></span>
							</marquee>
						</div>
					</td>
					<td width="170" bgcolor="#601886" align="center" class="link_w">
						<font size="+1">
							<a href="index.php?act=register">註冊會員 &gt; &gt;</a>
						</font>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table border="0" width="100%" id="table3" cellspacing="0" cellpadding="0" style="height: 100%">
				<tr>
					<td width="110" bgcolor="#989898" valign="top">
					<table border="0" width="100%" id="table8" cellspacing="0" cellpadding="0">
						<tr>
							<td bgcolor="#4F4F4F" style="height: 30px" align="center" class="link_w">
								<a href="http://www.wretch.cc/blog/ifriendxifun/12171870" target="_blank">關於我們</a>
							</td>
						</tr>
						<tr>
							<td bgcolor="#4F4F4F" style="height: 30px" align="center" class="link_w">
								<a href="http://www.wretch.cc/blog/ifriendxifun" target="_blank">iF 部落格</a>
							</td>
						</tr>
						<tr>
							<td bgcolor="#4F4F4F" style="height: 30px" align="center" class="link_w">
								<a href="http://www.wretch.cc/blog/ifriendxifun/12172063" target="_blank">常見問題</a>
							</td>
						</tr>
						<tr>
							<td bgcolor="#4F4F4F" style="height: 30px" align="center" class="link_w">
								<a href="mailto:service@ifriendxifun.net" target="_blank">需要協助</a>
							</td>
						</tr>
						<tr>
							<td style="height: 100%" align="center"><{ if $layout.left_1_link != "" && $layout.left_1_image != "" }><a href="<{ $layout.left_1_link }>" target="_blank"><img src="<{ $layout.left_1_image }>" width="110" alt="<{ $layout.left_1_link }>" border="0"></a><{ else }>&nbsp;<{ /if }></td>
						</tr>
						<tr>
							<td style="height: 100%" align="center"><{ if $layout.left_2_link != "" && $layout.left_2_image != "" }><a href="<{ $layout.left_2_link }>" target="_blank"><img src="<{ $layout.left_2_image }>" width="110" alt="<{ $layout.left_2_link }>" border="0"></a><{ else }>&nbsp;<{ /if }></td>
						</tr>
						<tr>
							<td style="height: 100%" align="center"><{ if $layout.left_3_link != "" && $layout.left_3_image != "" }><a href="<{ $layout.left_3_link }>" target="_blank"><img src="<{ $layout.left_3_image }>" width="110" alt="<{ $layout.left_3_link }>" border="0"></a><{ else }>&nbsp;<{ /if }></td>
						</tr>
					</table>
					</td>
					<td valign="top">
						<br />
						<{ include file=$mainpage}>
						<br />
					</td>
					<td width="170" bgcolor="#989898" valign="top">
						<table border="0" width="100%" id="table9" cellspacing="0" cellpadding="0">
							<tr>
								<td style="height: 100%">
									<div id="menu"><{ include file=$menupage}></div>
								</td>
							</tr>
							<tr>
								<td style="height: 100%" align="center"><{ if $layout.right_1_link != "" && $layout.right_1_image != "" }><a href="<{ $layout.right_1_link }>" target="_blank"><img src="<{ $layout.right_1_image }>" width="170" alt="<{ $layout.right_1_link }>" border="0"></a><{ else }>&nbsp;<{ /if }></td>
							</tr>
							<tr>
								<td style="height: 8px" align="center"></td>
							</tr>
							<tr>
								<td style="height: 100%" align="center"><{ if $layout.right_2_link != "" && $layout.right_2_image != "" }><a href="<{ $layout.right_2_link }>" target="_blank"><img src="<{ $layout.right_2_image }>" width="170" alt="<{ $layout.right_2_link }>" border="0"></a><{ else }>&nbsp;<{ /if }></td>
							</tr>
							<tr>
								<td style="height: 8px" align="center"></td>
							</tr>
							<tr>
								<td style="height: 100%" align="center"><{ if $layout.right_3_link != "" && $layout.right_3_image != "" }><a href="<{ $layout.right_3_link }>" target="_blank"><img src="<{ $layout.right_3_image }>" width="170" alt="<{ $layout.right_3_link }>" border="0"></a><{ else }>&nbsp;<{ /if }></td>
							</tr>
							<tr>
								<td style="height: 8px" align="center"></td>
							</tr>
							<tr>
								<td style="height: 100%" align="center"><{ if $layout.right_4_link != "" && $layout.right_4_image != "" }><a href="<{ $layout.right_4_link }>" target="_blank"><img src="<{ $layout.right_4_image }>" width="170" alt="<{ $layout.right_4_link }>" border="0"></a><{ else }>&nbsp;<{ /if }></td>
							</tr>
							<tr>
								<td style="height: 8px" align="center"></td>
							</tr>
							<tr>
								<td style="height: 100%" align="center"><{ if $layout.right_5_link != "" && $layout.right_5_image != "" }><a href="<{ $layout.right_5_link }>" target="_blank"><img src="<{ $layout.right_5_image }>" width="170" alt="<{ $layout.right_5_link }>" border="0"></a><{ else }>&nbsp;<{ /if }></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td height="80">
			<table border="0" width="100%" id="table5" cellspacing="0" cellpadding="0" style="height: 100%">
				<tr>
					<td width="50" bgcolor="#3BA0DD">&nbsp;</td>
					<td>
						<table border="0" width="100%" id="table6" cellspacing="0" cellpadding="0" style="height: 80px">
							<tr>
								<td bgcolor="#3BA0DD" width="60" align="center" class="link_w">
									<a href="http://www.wretch.cc/blog/ifriendxifun/12171870" target="_blank" class="link_w">About iF<br /> 關於iF</a>
								</td>
								<td bgcolor="#3BA0DD" width="60" align="center" class="link_w">
									<a href="http://www.wretch.cc/blog/ifriendxifun" target="_blank" class="link_w">Blog<br /> 部落格</a>
								</td>
								<td bgcolor="#3BA0DD" width="60" align="center" class="link_w">
									<a href="http://www.wretch.cc/blog/ifriendxifun/12256289" target="_blank">Privacy<br /> 隱私權</a>
								</td>
								<td bgcolor="#3BA0DD" width="60" align="center" class="link_w">
									<a href="http://www.wretch.cc/blog/ifriendxifun/12256288" target="_blank">Terms<br /> 約定條款</a>
								</td>
								<td bgcolor="#3BA0DD" width="60" align="center" class="link_w">
									<a href="http://www.wretch.cc/blog/ifriendxifun/12168039" target="_blank">Partner<br /> 伙伴計劃</a>
								</td>
								<td bgcolor="#3BA0DD" width="60" align="center" class="link_w">
									<a href="http://www.wretch.cc/blog/ifriendxifun/12168034" target="_blank">Join EO<br /> 加入 EO</a>
								</td>
								<td bgcolor="#3BA0DD" width="60" align="center" class="link_w">
									<a href="http://www.wretch.cc/blog/ifriendxifun/12172063" target="_blank">Q&amp;A<br /> 常見問答</a>
								</td>
								<td bgcolor="#3BA0DD" width="60" align="center" class="link_w">
									<a href="mailto:service@ifriendxifun.net" target="_blank">Contact<br /> 聯絡我們</a>
								</td>
							</tr>
						</table>
					</td>
					<td width="300" bgcolor="#3BA0DD" class="link_w">
						&copy; 2011 iF. All Right Reserved.
						<a href="http://www.ifriendxifun.net">www.ifriendxifun.net</a>						
					</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</div>

</body>

</html>
