<div id="calendar">
	<div class="pre"><a href="<{$calendar_pre}>"><<</a></div>
	
	<div class="current"><{$calendar_curr}></div>
	
	<div class="next"><a href="<{$calendar_next}>">>></a></div>
	
	<div class="week"><font color="red">Sun</font></div>
	<div class="week">Mon</div>
	<div class="week">Tue</div>
	<div class="week">Wed</div>
	<div class="week">Thu</div>
	<div class="week">Fri</div>
	<div class="week"><font color="red">Sat</font></div>	
	<{$calendar}>
</div>
<!--
<table width="637" align="center" border="0">
<tr>
	<td align="right">
		<font color="blue">*可以報名的活動</font> 
		<font color="green">*已經報名的活動</font>
		<font color="red">*自己舉辦的活動</font>
		<font color="gray">*無法報名的活動</font>	
	</td>
</tr>
</table>
-->
<br/>
<br/>


