<br/>

<form name="topic" method="post" onSubmit=""  action="./topic.act.php?act=add">
<table width="600px" border = "1" align="center" class="datatable">
<tr bgcolor="#CCCCCC">
	<th colspan="2" align="center">
		新增主題資料
	</th>
</tr>
<tr>
	<td width="150px" align="center">主題名稱</td>
	<td><input name="tname" type="text" size="50"  class="input"></td>
</tr>
<tr>
	<td colspan="2" align="center">
		<input type="submit" name="Submit" value="確定送出" class=button>
		<input type="reset" name="Submit" value="重新填寫" class=button>
	</td>
</tr>
</table>
</form>